.slick-slider{
    position: inherit!important;
  }
  
  .slick-prev {
    right: 150px!important;
    left: auto!important;
    top: 20%!important;
  }
  
  .slick-prev, .slick-next {
    width: 1px!important;
    height: 1px!important;
  }
  
  .slick-next{
    right: 150px!important;
    top: 50%!important;
  }
  
  .arrow-prev{
    transform: rotate(90deg);
  }
  
  .arrow-next{
    transform: rotate(90deg);
  }
  
  .slick-next:before {
    content: ''!important;
  }
  
  .slick-prev::before {
    content: ''!important;
  }
  
  .testimonials{
    width: 80%!important;
    min-width: 300px!important;
    margin: 10px auto!important;
  }
  
  .slick-dots li button:before{
    color: #000000!important;
  }
  
  .slick-dots {
      transform: rotate(90deg)!important;
      left: 544px!important;
      bottom: 283px!important;
  }